<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title %}{% block title %}{% endblock %} ({{ site_name }}){% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">

        {% load static %}
        <link rel="stylesheet" href="{% static "css/styles.css" %}">

        {% if include_map and MAPBOX_API_KEY %}
            <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
            <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        {% endif %}

        {% block head_extra %}
        {% endblock %}
    </head>
    <body>
        <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

        {% if user.is_superuser %}
            <nav class="navbar navbar-full navbar-light bg-faded">
				{% if url_name == 'producer_detail' %}
					<ul class="nav navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'admin:producers_producer_change' producer.id %}">Edit this producer</a>
						</li>
					</ul>
				{% endif %}
                <ul class="nav navbar-nav pull-xs-right">
					<li class="navbar-label">
						Logged in as {{ user.username }}
					</li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:logout' %}">Log out</a>
                    </li>
                </ul>
            </nav>
        {% endif %}

        <div class="container">
            <div class="row m-t-1">
                <div class="col-md-6 offset-md-3">
                    <h1 class="text-hide page-title">
                        Made Near You
                    </h1>
                </div>
            </div>

            <div class="row m-b-1" role="navigation">
                <div class="col-md-6 offset-md-3">
                    <hr>
                    <ul class="nav nav-inline p-x-1">
                        <li class="nav-item">
                            <a class="nav-link{% if url_name == 'home' %} active{% endif %}" href="{% url 'home' %}">Home</a>
                            <a class="nav-link{% if url_name == 'producers_map' %} active{% endif %}" href="{% url 'producers_map' %}">Find producers</a>
                            <a class="nav-link{% if url_name == 'producer_add' %} active{% endif %}" href="{% url 'producer_add' %}">Add a producer</a>
                            <a class="nav-link{% if url_name == 'about' %} active{% endif %}" href="{% url 'about' %}">About</a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>

            <div id="content" tabindex="-1">
                {% block page_title_container %}
                    <div class="row m-b-2">
                        <div class="col-md-6 offset-md-3">
                            <h2>{% block page_title %}{% endblock %}</h2>
                        </div>
                    </div>
                {% endblock page_title_container %}

                {% block content %}
                {% endblock content %}
            </div>

        </div>

    {% block footer %}
        {# Use this if you need to add a visible footer to every page. #}
    {% endblock %}

    {% block foot_extra %}
        {# Use this if you need to add JS etc to the foot of the page. #}
        {% comment %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
        {% endcomment %}
    {% endblock %}
    </body>
</html>
