{% extends 'producers/base.html' %}

{% block title %}Find producer{% endblock %}

{% block page_title %}Find producers near you{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 offset-md-3">
			
			<form action="" method="post" class="form-inline m-b-3">
				{% csrf_token %}
				<div class="form-group {% if form.postcode.errors %} has-danger{% endif %}">
					<label class="form-control-label" for="id_postcode">
						{{ form.postcode.label }}
					</label>
					{{ form.postcode }}
				</div>
				<button type="submit" class="btn btn-primary">Search</button>

				{% if form.postcode.errors %}
					<span class="p-l-1 text-danger">{{ form.postcode.errors|join:'<br />' }}</span>
				{% endif %}
					
				<div style="display:none;">
					{{ form.honeypot.label }}
					{{ form.honeypot }}
				</div>
			</form>

			{% if postcode %}
				{% if geolocation_error %}
					<p>{{ geolocation_error }}</p>
				{% elif producers|length == 0 %}
					<p>No producers found within {{ max_km }}km of {{ postcode }}.</p>
				{% endif %}
			{% endif %}
		</div> <!-- .col -->
	</div> <!-- .row -->

	{% if postcode and not geolocation_error and producers|length > 0 %}

		<h3>{{ producers|length }} producer{{ producers|length|pluralize }} within {{ max_km }}km of {{ postcode }}</h3>

		{% include 'producers/includes/map.html' with latitude=latitude longitude=longitude producers=producers %}

	{% endif %}

{% endblock content %}

