{% extends 'producers/base.html' %}

{% block title %}Find producer{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Find producers near you</h1>
			
			<form action="" method="post" class="form-inline m-b-3">
				{% csrf_token %}
				{% for field in form %}
					{% include 'producers/includes/form_field.html' with inline=True %}
				{% endfor %}
				<button type="submit" class="btn btn-primary">Search</button>
			</form>

			{% if postcode %}
				{% if geolocation_error %}
					<p>{{ geolocation_error }}</p>
				{% elif producers|length == 0 %}
					<p>No producers found within {{ max_km }} km of {{ postcode }}.</p>
				{% endif %}
			{% endif %}
		</div> <!-- .col -->
	</div> <!-- .row -->

	{% if postcode and not geolocation_error and producers|length > 0 %}

		<h2>{{ producers|length }} producer{{ producers|length|pluralize }} within {{ max_km }} km of {{ postcode }}</p>

		{% include 'producers/includes/map.html' with latitude=latitude longitude=longitude producers=producers %}

	{% endif %}

{% endblock content %}

