{% extends 'producers/base.html' %}

{% block title %}{{ producer.business_name }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>{{ producer.business_name }}</h1>

			{% if producer.contact_name %}
				<p class="row">
					<span class="col-sm-3">
						<strong>Contact</strong>
					</span>
					<span class="col-sm-9">
						{{ producer.contact_name }}
					</span>
				</p>
			{% endif %}

			{% if producer.phone %}
				<p class="row">
					<span class="col-sm-3">
						<strong>Phone</strong>
					</span>
					<span class="col-sm-9">
						{{ producer.phone }}
					</span>
				</p>
			{% endif %}

			{% if producer.email %}
				<p class="row">
					<span class="col-sm-3">
						<strong>Email</strong>
					</span>
					<span class="col-sm-9">
						<a href="mailto:{{ producer.email }}">{{ producer.email}}</a>
					</span>
				</p>
			{% endif %}

			{% if producer.url %}
				<p class="row">
					<span class="col-sm-3">
						<strong>URL</strong>
					</span>
					<span class="col-sm-9">
						<a href="{{ producer.url }}">{{ producer.url }}</a>
					</span>
				</p>
			{% endif %}

			<h2 class="h5">Products</h2>
			<ul>
				{% for product in producer.products.all %}
					<li>{{ product.name }}</li>
				{% endfor %}
			</ul>
			
			{% if producer.postcode %}
				<p class="row">
					<span class="col-sm-3">
						<strong>Postcode</strong>
					</span>
					<span class="col-sm-9">
						{{ producer.postcode }}
					</span>
				</p>
			{% endif %}

		</div> <!-- .col -->
	</div> <!-- .row -->
	{% if MAPBOX_API_KEY and producer.point %}
		<div class="row">
			<div id='map' style='width: 100%; height: 400px;'></div>
			<script>
				L.mapbox.accessToken = '{{ MAPBOX_API_KEY }}';
				var map = L.mapbox.map('map');

				var stamenLayer = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png', {
				  attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
				}).addTo(map);

				map.setView([{{ producer.latitude }}, {{ producer.longitude }}], 12);
				var marker = L.marker(
					[{{ producer.latitude }}, {{ producer.longitude }}],
					{
						icon: L.mapbox.marker.icon({
							'marker-color': '#f86767'
						})
					}
				).addTo(map);
			</script>
		</div>
	{% endif %}

{% endblock content %}

