
body {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#content:focus {
	outline: none;
}

.page-title {
	background: url(../img/logo.png) 0 0 no-repeat;
	width: 200px;
	height: 150px;
	margin: 0 auto;
}

.map {
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 2rem;
}
.map-producer {
    height: 400px;
}
.map-producers {
    height: 600px;
}

.nav-link.active {
    color: #55595c;
    cursor: default;
}

.form-control-postcode,
.form-inline .form-control-postcode {
    width: 7rem;
}
/* Recaptcha widget */
.g-recaptcha {
    padding-left: .75rem;
    padding-right: .75rem;
}
/* fix for https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742 */
[hidden="hidden"][style*="display: block;"] {
    display: block !important;
}

